
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
<h1>Item <a href="webublogoverflow.blogspot.com">form</a></h1>
<div class="container">


  <div class="row">
    <!--<div class="col-8">-->
      <form>
        <div class="form-row">
          <div class="col-md-2">
            <label for="validationServer013">ID</label>
            <input type="text" class="form-control is-valid" id="validationServer013" placeholder="Item ID">
          </div>
          <div class="col-md-3">
            <label for="validationServer023">Item Name</label>
            <input type="text" class="form-control is-valid" id="validationServer023" placeholder="Item Name">
          </div>

          <div class="col-md-2 mb-3">
            <label for="validationServer027">QTY</label>
            <input type="text" class="form-control is-valid" id="validationServer027" placeholder="QTY">
          </div>

          <div class="col-md-3 mb-3">
            <label for="validationServer028">Unit Price</label>
            <input type="text" class="form-control is-valid" id="validationServer028" placeholder="Unit Price">
          </div>
        </div>
      </form>
      <button class="btn btn-primary my-4" style="height:40px" type="submit">Save</button>

    <!--</div>-->
  </div>



  <div class="col-md-12 mb-12 my-5">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Item Name</th>
        <th scope="col">QTY</th>
        <th scope="col">Unit Price</th>
      </tr>
      </thead>
      <tbody>


      </tbody>
    </table>
  </div>

</div>



</body>
