<h1>Customer <a href="#">form</a></h1>
<div class="container">

  <div class="row">
    <!--<div class="col-8">-->
      <div class="form-row">
        <div class="col-md-2">
          <label for="validationServer013">Customer ID</label>
          <input [(ngModel)]="id" type="text" class="form-control is-valid" id="validationServer013" placeholder="ID">
        </div>
        <div class="col-md-3">
          <label for="validationServer023">Customer Name</label>
          <input [(ngModel)]="name" type="text" class="form-control is-valid" id="validationServer023" placeholder="Customer Name">
        </div>

        <div class="col-md-6">
          <label for="validationServer027">Address</label>
          <input [(ngModel)]="address" type="text" class="form-control is-valid" id="validationServer027" placeholder="Address">
        </div>

      </div>

    <button (click)="Save()" class="btn btn-primary my-4" style="height:40px" type="submit">Save Customer</button>&nbsp;

    <button class="btn btn-primary my-4" style="height:40px" type="submit">Edit </button>
    <!--</div>-->
  </div>



  <div class="col-md-12 mb-12 my-5">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let cust of customer;">
        <td>{{cust.id}}</td>
        <td>{{cust.name}}</td>
        <td>{{cust.address}}</td>
        <td class="center aligned">
          <button (click)="onSelect(cust)"class="glyphicon glyphicon-check"><i>Delete</i></button>
        </td>
      </tr>

      </tbody>
    </table>
  </div>

</div>
