<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
<h1>Order <a href="webublogoverflow.blogspot.com">form</a></h1>
<div class="container">


  <div class="row">
    <div class="col-8">
      <form>
        <div class="form-row">
          <div class="col-md-2">
            <label for="validationServer013">CID</label>
            <input type="text" class="form-control is-valid" id="validationServer013" placeholder="Customer ID">
          </div>
          <div class="col-md-3">
            <label for="validationServer023">Name</label>
            <input type="text" class="form-control is-valid" id="validationServer023" placeholder="Name">
          </div>

          <div class="col-md-6">
            <label for="validationServer024">Address</label>
            <input type="text" class="form-control is-valid" id="validationServer024" placeholder="Address">
          </div>

          <div class="col-md-2 ">
            <label for="validationServer025">OID</label>
            <input type="text" class="form-control is-valid" id="validationServer025" placeholder="Order ID">
          </div>

          <div class="col-md-2 ">
            <label for="validationServer026">IID</label>
            <input type="text" class="form-control is-valid" id="validationServer026" placeholder="Item ID">
          </div>

          <div class="form-group col-md-5">
            <label for="inputState">Items</label>
            <select id="inputState" class="form-control is-valid">
              <option selected>Items</option>
            </select>
          </div>

        </div>
      </form>
      <button class="btn btn-primary " type="submit">Save</button>
    </div>


  </div>


  <div class="col-md-12 mb-12 my-5">

  </div>

</div>

</body>
